extends home
block content
    .row
        // Individual Column Searching (Text Inputs) start
        .col-sm-12
            .card
                .card-header
                    h5 Taxations
                .card-body
                    #container-error
                    .dt-responsive.table-responsive
                        table#footer-search.table.table-striped.table-bordered.nowrap
                            thead
                                tr
                                    th Redevable
                                    th Taxe
                                    th Date taxation
                                    th Montant USD
                                    th Montant CDF
                                    th Action
                            tbody.content-table
                                if taxations
                                    each taxation,index in taxations
                                        tr(class='row-data' data-row=`${taxation.id_taxation}`)
                                            td=taxation.redevable
                                            td=taxation.description
                                            td=`${taxation.date_taxation.toLocaleString('en-FR',{year: "numeric", month: "numeric", day: "numeric"})}`
                                            td=`${taxation.devise && taxation.devise === 'CDF'?Math.round(taxation.montant * 1 / taxation.taux):Math.round(taxation.montant)} USD`
                                            td=`${taxation.devise && taxation.devise === 'USD'?Math.round(taxation.montant * 1 * taxation.taux):Math.round(taxation.montant)} CDF`
                                            td
                                                a.btn.btn-info.btn-sm.rounded-0.mr-1.btn-edit(href='#' data-toggle='modal' data-title='Operation' data-id1=`${taxation.id_taxation}` data-target=`.bd-example-modal-lg-${index}`)
                                                    i.feather.icon-edit
                                                .modal.fade(tabindex='-1' role='dialog' class=`bd-example-modal-lg-${index}` aria-labelledby='myLargeModalLabel' style='display: none;' aria-hidden='true')
                                                    .modal-dialog.modal-xl
                                                        .modal-content.rounded-0
                                                            .modal-header
                                                                h5#myLargeModalLabel.modal-title.h4 Details
                                                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                                    span(aria-hidden='true') &times;
                                                            .modal-body
                                                                .card-body
                                                                    form.needs-validation(novalidate='' data-id=`${taxation.id_taxation}`).form-update-taxation
                                                                        table.table.table-sm.table-borderless
                                                                            tbody
                                                                                tr
                                                                                    th(scope='row') Taxe
                                                                                    td
                                                                                        select.form-control.rounded-0.form-control-sm(required='' disabled).taxes
                                                                                            option(value=`${taxation.id_taxe}` disabled selected)=taxation.taxe
                                                                                tr
                                                                                    th(scope='row') Montant
                                                                                    td=taxation.montant
                                                                                tr
                                                                                    th(scope='row') Pénalité
                                                                                    td=`${Math.round((taxation.montant * 1) * (taxation.penalite * 1) / 100)}`
                                                                                tr
                                                                                    th(scope='row') Montant global
                                                                                    td=taxation.montant_global
                                                                                tr
                                                                                    th(scope='row') Nom déclarant
                                                                                    td=taxation.nom_declarant
                                                                                tr
                                                                                    th(scope='row') Téléphone déclarant
                                                                                    td=taxation.telephone_declarant
                                                                                //tr
                                                                                //    th(scope='row') Echéance
                                                                                //    td=`${taxation.echeance==='1'?'Premier semestre':'Deuxième semestre'}`
                                                                                tr
                                                                                    th(scope='row') Contribuable
                                                                                    td=taxation.redevable
                                                                                tr
                                                                                    th(scope='row') Vehicules
                                                                                    td
                                                                                        table.table.table-sm
                                                                                            thead
                                                                                                tr
                                                                                                    th Nombre
                                                                                                    th Montant
                                                                                                    th Devise
                                                                                                    th Chassis
                                                                                                    th Plaque
                                                                                                    th Model
                                                                                                    th Marque
                                                                                                    th Couleur
                                                                                            tbody(class=`body-vehicules-${taxation.id_taxation} vehicule`)

                                                                                //tr
                                                                                //    td
                                                                                //        button.btn.btn-success.rounded-0.btn-sm.mr-2(type='submit') Enregistrer
                                                a.btn.btn-success.mr-1.btn-sm.rounded-0.btn-validate-taxation(href='#' data-toggle='modal' data-title='Validation' data-target=`.validation-taxation-${index}`)
                                                    i.feather.icon-check
                                                .modal.fade(tabindex='-1' role='dialog' class=`validation-taxation-${index}` aria-labelledby='myLargeModalLabel' style='display: none;' aria-hidden='true')
                                                    .modal-dialog.modal-xl
                                                        .modal-content.rounded-0
                                                            .modal-header
                                                                h5#myLargeModalLabel.modal-title.h4 Validation Taxation
                                                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                                    span(aria-hidden='true') &times;
                                                            .modal-body
                                                                .card-body
                                                                    form.needs-validation(novalidate='' data-id=`${taxation.id_taxation}`).form-validation-taxation
                                                                        .container-alert
                                                                        .row
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Montant
                                                                                    input.form-control.rounded-0.form-control-sm.montant(type='text' disabled value=`${!taxation.montant?0+' '+taxation.devise:taxation.montant+' '+taxation.devise}` required='')
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Pénalités
                                                                                    input.form-control.rounded-0.form-control-sm.penalite(type='text' disabled value=`${!taxation.penalite?0+' '+taxation.devise:Math.round((taxation.montant*1) * (taxation.penalite*1)/100)+' '+taxation.devise}` required='')
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Mont global
                                                                                    input.form-control.rounded-0.form-control-sm.montant_global(type='text' disabled value=`${!taxation.montant_global?0+' '+taxation.devise:taxation.montant_global+' '+taxation.devise}` required='')
                                                                            .col-sm-4
                                                                                label.floating-label(for='') Mode de paiement
                                                                                select.form-control.compte.form-control-sm.rounded-0
                                                                                    if comptes
                                                                                        each compte in comptes
                                                                                            option(value=`${compte.id_compte}`)=`${compte.libelle_banque+'('+compte.num_compte+')'}`
                                                                            .col-sm-4
                                                                                label.floating-label(for='avis') Mode de paiement
                                                                                select.form-control.avis.form-control-sm.rounded-0
                                                                                    option(value='favorable' selected) Favorable
                                                                                    option(value='non favorable') Non favorable
                                                                            .col-sm-12.text-right
                                                                                button.btn.btn-success.rounded-0.btn-sm.mr-2(type='submit') Valider
                                                a.btn.btn-danger.btn-sm.rounded-0.btn-delete-taxation(href='#')
                                                    i.feather.icon-trash-2
                            tfoot
                                tr
                                    th Redevable
                                        th Taxe
                                        th Date taxation
                                        th Montant USD
                                        th Montant CDF
                                        th Action
        // Individual Column Searching (Text Inputs) end