extends home
block content
    .row
        // Individual Column Searching (Text Inputs) start
        .col-sm-12
            .card
                .card-header
                    h5 Taxations validées
                .card-body
                    #container-error
                    .dt-responsive.table-responsive
                        table#footer-search.table.table-striped.table-bordered.nowrap
                            thead
                                tr
                                    th Redevable
                                    th Taxe
                                    th Date validation
                                    th Montant USD
                                    th Montant CDF
                                    th Receptionniste
                                    th Action
                            tbody.content-table
                                if taxations
                                    each taxation,index in taxations
                                        tr(class='row-data' data-row=`${taxation.id_taxation}`)
                                            td=taxation.redevable
                                            td=taxation.description
                                            td=`${taxation.date_validation.toLocaleString('en-FR',{year: "numeric", month: "numeric", day: "numeric"})}`
                                            td=`${taxation.devise && taxation.devise === 'CDF'?taxation.montant * 1 / taxation.taux:taxation.montant} USD`
                                            td=`${taxation.devise && taxation.devise === 'USD'?taxation.montant * 1 * taxation.taux:taxation.montant} CDF`
                                            td=taxation.nom_receptionniste
                                            td
                                                a.btn.btn-info.btn-sm.rounded-0.mr-1.btn-edit(href='#' data-toggle='modal' data-title='Operation' data-target=`.bd-example-modal-lg-${index}`)
                                                    i.feather.icon-edit
                                                .modal.fade(tabindex='-1' role='dialog' class=`bd-example-modal-lg-${index}` aria-labelledby='myLargeModalLabel' style='display: none;' aria-hidden='true')
                                                    .modal-dialog.modal-xl
                                                        .modal-content.rounded-0
                                                            .modal-header
                                                                h5#myLargeModalLabel.modal-title.h4 Details
                                                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                                    span(aria-hidden='true') &times;
                                                            .modal-body
                                                                .card-body
                                                                    form.needs-validation(novalidate='' data-id=`${taxation.id_taxation}`)
                                                                        .row
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Date validation
                                                                                    input.form-control.rounded-0.form-control-sm(disabled value=`${taxation.date_validation.toLocaleString('en-FR',{year: "numeric", month: "numeric", day: "numeric"})}`)
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Taux
                                                                                    input.form-control.rounded-0.form-control-sm(disabled value=`${taxation.taux}`)
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Taxateur
                                                                                    input.form-control.rounded-0.form-control-sm(disabled value=`${taxation.nom_taxateur+' '+taxation.prenom_taxateur}`)
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Validateur
                                                                                    input.form-control.rounded-0.form-control-sm(disabled value=`${taxation.nom_validateur +' '+taxation.prenom_validateur}`)
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Vehicules
                                                                                    input.form-control.form-control-sm(disabled value=`${taxation.numero_plaque} | ${taxation.numero_chassis} | ${taxation.marque} | ${taxation.couleur} | ${taxation.model}`)
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='nom_receptionniste') Nom receptionniste
                                                                                    input.form-control.rounded-0.form-control-sm(disabled value=`${taxation.nom_receptionniste}`)
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Taxe
                                                                                    input.form-control.rounded-0.form-control-sm(disabled value=`${taxation.taxe}`)
                                                                            .col-sm-4
                                                                                .form-group
                                                                                    label.floating-label(for='') Montant
                                                                                    input.form-control.rounded-0.form-control-sm(disabled value=`${taxation.montant}`)

                            tfoot
                                tr
                                    th Redevable
                                        th Taxe
                                        th Date taxation
                                        th Montant USD
                                        th Montant CDF
                                        th Receptionniste
                                        th Action
        // Individual Column Searching (Text Inputs) end