extends home
block content
    .row
        // Individual Column Searching (Text Inputs) start
        .col-sm-12
            .card
                .card-header
                    h5 Liste globale des attestations
                .card-body
                    .dt-responsive.table-responsive
                        table#footer-search.table.table-striped.table-bordered.nowrap
                            thead
                                tr
                                    th Date attestation
                                    th Numero bordereau
                                    th Montant
                                    th Penalite
                                    th Montant global
                                    th Devise
                                    th Numero taxation
                            tbody.content-table
                                if attestations
                                    each attestation,index in attestations
                                        tr
                                            td=attestation.date_attestation
                                            td=attestation.numero_bordereau
                                            td=attestation.montant
                                            td=attestation.montant_penalite
                                            td=attestation.montant_global
                                            td=attestation.devise
                                            td=attestation.num_taxation
                            tfoot
                                tr
                                    th Redevable
                                    th Numero plaque
                                    th Type
                                    //th Numero chassis
                                    th Modele
                                    th Marque
                                    th Couleur
                                    th Mise en circulation
                                    th Action
        // Individual Column Searching (Text Inputs) end