doctype html
// Mirrored from html.phoenixcoded.net/nextro-able/bootstrap/default/maint-error.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Nov 2020 00:44:00 GMT
head
  title Nextro Able Bootstrap 4 Admin Template
  // HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 11
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  // Meta
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='description' content='')
  meta(name='keywords' content='')
  meta(name='author' content='Phoenixcoded')
  // Favicon icon
  link(rel='icon' href='/images/favicon.svg' type='image/x-icon')
  // font css
  link(rel='stylesheet' href='/fonts/font-awsome-pro/css/pro.min.css')
  link(rel='stylesheet' href='/fonts/feather.css')
  link(rel='stylesheet' href='/fonts/fontawesome.css')
  // vendor css
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/customizer.css')
  script.
    (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:1951099,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
// [ offline-ui ] start
.auth-wrapper.maintance
  .container
    .row.justify-content-center
      .col-md-8
        .text-center
          img.img-fluid(src='/images/maintance/404.png' alt='')
          h5.text-muted.my-4=msg
          form(action='/home')
            button.btn.waves-effect.waves-light.btn-primary.mb-4
              i.feather.icon-refresh-ccw.mr-2
              | Reload
// [ offline-ui ] end
// Required Js
script(src='/js/vendor-all.min.js')
script(src='/js/plugins/bootstrap.min.js')
.pct-customizer
  .pct-c-btn(href='#!')
    button#pct-toggler.btn.btn-light-danger
      i(data-feather='settings')
    button.btn.btn-light-primary(data-toggle='tooltip' title='Document' data-placement='left')
      i(data-feather='book')
    button.btn.btn-light-success(data-toggle='tooltip' title='Buy Now' data-placement='left')
      i(data-feather='shopping-bag')
    button.btn.btn-light-info(data-toggle='tooltip' title='Support' data-placement='left')
      i(data-feather='headphones')
  .pct-c-content
    .pct-header.bg-primary
      h5.mb-0.text-white.f-w-500 Nextro Customizer
    .pct-body
      h6.mt-2
        i.mr-2(data-feather='credit-card')
        | Header settings
      hr.my-2
      .theme-color.header-color
        a(href='#!' data-value='bg-default')
          span
          span
        a(href='#!' data-value='bg-primary')
          span
          span
        a(href='#!' data-value='bg-danger')
          span
          span
        a(href='#!' data-value='bg-warning')
          span
          span
        a(href='#!' data-value='bg-info')
          span
          span
        a(href='#!' data-value='bg-success')
          span
          span
        a(href='#!' data-value='bg-dark')
          span
          span
      h6.mt-4
        i.mr-2(data-feather='layout')
        | Sidebar settings
      hr.my-2
      .custom-control.custom-switch
        input#cust-sidebar.custom-control-input(type='checkbox')
        label.custom-control-label.f-w-600.pl-1(for='cust-sidebar') Light Sidebar
      .custom-control.custom-switch.mt-2
        input#cust-sidebrand.custom-control-input(type='checkbox')
        label.custom-control-label.f-w-600.pl-1(for='cust-sidebrand') Color Brand
      .theme-color.brand-color.d-none
        a.active(href='#!' data-value='bg-primary')
          span
          span
        a(href='#!' data-value='bg-danger')
          span
          span
        a(href='#!' data-value='bg-warning')
          span
          span
        a(href='#!' data-value='bg-info')
          span
          span
        a(href='#!' data-value='bg-success')
          span
          span
        a(href='#!' data-value='bg-dark')
          span
          span
script.
  // header option
  $('#pct-toggler').on('click', function() {
  $('.pct-customizer').toggleClass('active');
  });
  // header option
  $('#cust-sidebrand').change(function() {
  if ($(this).is(":checked")) {
  $('.theme-color.brand-color').removeClass('d-none');
  $('.m-header').addClass('bg-dark');
  } else {
  $('.m-header').removeClassPrefix('bg-');
  $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo-dark.svg');
  $('.theme-color.brand-color').addClass('d-none');
  }
  });
  // Header Color
  $('.brand-color > a').on('click', function() {
  var temp = $(this).attr('data-value');
  // $('.header-color > a').removeClass('active');
  // $('.pcoded-header').removeClassPrefix('brand-');
  // $(this).addClass('active');
  if (temp == "bg-default") {
  $('.m-header').removeClassPrefix('bg-');
  } else {
  $('.m-header').removeClassPrefix('bg-');
  $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo.svg');
  $('.m-header').addClass(temp);
  }
  });
  // Header Color
  $('.header-color > a').on('click', function() {
  var temp = $(this).attr('data-value');
  // $('.header-color > a').removeClass('active');
  // $('.pcoded-header').removeClassPrefix('brand-');
  // $(this).addClass('active');
  if (temp == "bg-default") {
  $('.pc-header').removeClassPrefix('bg-');
  } else {
  $('.pc-header').removeClassPrefix('bg-');
  $('.pc-header').addClass(temp);
  }
  });
  // sidebar option
  $('#cust-sidebar').change(function() {
  if ($(this).is(":checked")) {
  $('.pc-sidebar').addClass('light-sidebar');
  $('.pc-horizontal .topbar').addClass('light-sidebar');
  // $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo-dark.svg');
  } else {
  $('.pc-sidebar').removeClass('light-sidebar');
  $('.pc-horizontal .topbar').removeClass('light-sidebar');
  // $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo.svg');
  }
  });
  $.fn.removeClassPrefix = function(prefix) {
  this.each(function(i, it) {
  var classes = it.className.split(" ").map(function(item) {
  return item.indexOf(prefix) === 0 ? "" : item;
  });
  it.className = classes.join(" ");
  });
  return this;
  };
