extends home
block content
    .row
        // Individual Column Searching (Text Inputs) start
        .col-sm-12
            .card
                .card-header
                    h5 Stat
                .card-body
                    #container-error
                    .dt-responsive.table-responsive
                        table#footer-search.table.table-striped.table-bordered.nowrap
                            thead
                                tr
                                    th Numero taxation
                                    th Date taxation
                                    th Date attestation
                                    th Montant
                                    th devise
                                    th Taxe
                                    th Part dosec
                                    th Part ministère
                            tbody.content-table
                                if parts
                                    each part in parts
                                        tr
                                            td=part.num_taxation
                                            td=part.date_taxation
                                            td=part.date_attestation
                                            td=part.montant
                                            td=part.devise
                                            td=part.taxe
                                            td=part.part_dosec
                                            td=part.part_ministere
                            tfoot
                                tr
                                    th Numero taxation
                                    th Date taxation
                                    th Date attestation
                                    th Montant
                                    th devise
                                    th Taxe
                                    th Part dosec
                                    th Part ministère
        // Individual Column Searching (Text Inputs) end