.row
    .col-sm-3
        .card.bg-primary.text-white.widget-visitor-card
            .card-body.text-center
                h2.text-white=users.length !== 0?users.length:0
                h6.text-white Agents
                i.feather.icon-user-plus
    .col-sm-3
        .card.bg-success.text-white.widget-visitor-card
            .card-body.text-center
                h2.text-white=contribuables.length !== 0?contribuables.length:0
                h6.text-white Contribuables
                i.feather.icon-user-check
    .col-sm-3
        .card.bg-danger.text-white.widget-visitor-card
            .card-body.text-center
                h2.text-white=taxations.length !== 0?taxations.length:0
                h6.text-white Taxations
                i.feather.icon-user-minus
    .col-sm-3
        .card.bg-warning.text-white.widget-visitor-card
            .card-body.text-center
                h2.text-white=taxationValide && taxationValide.length !== 0?taxationValide.length:0
                h6.text-white Taxation validée
                i.feather.icon-users
    .col-sm-3
        .card.bg-primary.text-white.widget-visitor-card
            .card-body.text-center
                h2.text-white=attestations && attestations.length !== 0?attestations.length:0
                h6.text-white Attestations
                i.feather.icon-users
    .col-sm-3
        .card.bg-danger.text-white.widget-visitor-card
            .card-body.text-center
                h2.text-white=taxationValide && taxationValide.length !== 0?taxationValide.length:0
                h6.text-white Note de calcul
                i.feather.icon-user-minus
    .col-sm-3
        .card.bg-success.text-white.widget-visitor-card
            .card-body.text-center
                h2.text-white=vehicules && vehicules.length !== 0?vehicules.length:0
                h6.text-white Vehicules
                i.feather.icon-user-check
    .col-sm-3
        .card.bg-warning.text-white.widget-visitor-card
            .card-body.text-center
                h2.text-white 0
                h6.text-white Imprimés
                i.feather.icon-user-check